{% extends 'base.html.twig' %}
{% block stylesheets %}
	<!-- CSS only -->
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
	{# point d'entree React #}
	<div id="app-root"></div>
{% endblock %}

{% block javascripts %}
	<!-- JavaScript Bundle with Popper -->
	{{ encore_entry_script_tags('app') }}
{% endblock %}
